a.previousnextbutton:link{
  background-color: #0077b5;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  display: inline-block;
  border-radius", "12px";
}

a.previousnextbutton:visited {
  background-color: #0077b5;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  display: inline-block;
  border-radius", "12px";
}

a.midheader{
  font-size: 2.0em;
  font-family:"Arial Black";
}

a.previousnextbutton:hover{
  background-color: #dd5143;
}

a.page1:link{
  color: #00a0dc;
  font-family:"Arial Black";
  text-decoration: None;
  font-size: 1.6em;
}

a.page1:visited {
  color: #00a0dc;
  font-family:"Arial Black";
  text-decoration: None;
  font-size: 1.6em;
}

a.page1:hover {
  text-decoration:underline;
}

a.page2:link {
  color: gray;
  text-decoration: None;
  font-size: 1.6em;
  font-family:"Arial Black";
}

a.page2:visited {
  color: gray;
  text-decoration: None;
  font-size: 1.6em;
  font-family:"Arial Black";
}

a.page2:hover{
  text-decoration:underline;
}

a.page3:link {
  color: #dd5143;
  text-decoration: None;
  font-family:"Arial Black";
  font-size: 1.6em;
}

a.page3:visited {
  color: #dd5143;
  text-decoration: None;
  font-family:"Arial Black";
  font-size: 1.6em;
}

a.page3:hover{
  text-decoration:underline;
}

.title{
  font-size: 2.0em;
  font-family:"Arial Black";
}

.page3heading{
  font-size: 1.6em;
  font-family:"Arial Black";
}
.page4button{
  font-size: .8em;
  background-color: #0077b5;
  color: white;
  font-family: Helvetica;
  display: inline-block;
  border-radius", "12px";
  font-weight: 500;
}
.page4button:hover{
  background-color: #dd5143;
}

.firstPage {
    position: absolute;
    top: 50%;
    left: 30%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a.firstButton:hover, a.firstButton:active {
  background-color: #dd5143;
}
a.firstButton:link, a.firstButton:visited {
  background-color: #ff4d4d;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: inline-block;
}

.header {
  font-size: 1.2em;
}

.firstPageBlueColor {
  color: #0077b5;
}

.firstPageRedColor {
  color: #dd5143;
}


/* Pagination */
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            background-color: #0077b5;
            border: 1px solid #fff;
        }

        .pagination a.active {
            background-color: #dd5143;
            color: white;
        }

        .pagination a:hover:not(.active) {
            border: 1px solid #aaa;
        }
